amqp==5.2.0
celery==5.3.6
channels==4.2.0
channels-rabbitmq==4.0.1
coverage==7.3.1
daphne==4.1.2
Django==5.1.4
django-allauth==65.3.1
django-celery-beat==2.7.0
django-cors-headers==4.2.0
django-debug-toolbar==4.2.0
django-encrypted-model-fields==0.6.5
django-guardian==2.4.0
django-rest-framework==0.1.0
django-timezone-field==7.0
django_reverse_admin==2.9.6
djangorestframework==3.14.0
djangorestframework-guardian==0.3.0
djangorestframework-simplejwt==5.3.1
djangorestframework-yaml==2.0.0
drf-extensions==0.7.1
drf-spectacular==0.27.2
flower==2.0.1
gitdb==4.0.11
GitPython==3.1.43
humanize==4.9.0
ipython==8.15.0
Jinja2==3.1.4
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
kombu==5.3.7
model-bakery==1.15.0
PyJWT==2.8.0
python-git==2018.2.1
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
sendgrid
